:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: fit-content;
  gap: 10px;
}

#map {
  height: 500px;
  width: 100%;
}
